/* font selection: montserrat, libre baskerville */
/* color selection, from dark to light gray
  151515
  222222
  373737
  595959
  909090
*/

/* reset link */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #151515;
}

body {
  font-family: 'Libre Baskerville', serif;
}
.site-title {
  font-size: 5em;
  text-align: center;
}
.site-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: bold;
  letter-spacing: 20px;
  text-transform: uppercase;
  padding-bottom: 35px;
  text-align: center;
}
.site-navigation {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: bold;
  border-top: 2px solid #151515;
  border-bottom: 2px solid #151515;	
  padding: 20px 0;
}
.profile-caption {
  text-align: center;
}
.profile-lead {
  margin-top: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #595959;
  border-top: 1px solid #595959;
}
.profile-thumbnail {
  border: none;
}
.nav-pages {
  text-align: center;
}
.content{
  margin-top: 20px;
  padding-bottom: 120px;
}
.divider {
  background: #595959;
  border: none;
  height: 0.8px;
}
.issue-meta {
  text-align: right;
}
.issue-number {
  width: 30px;
  padding:3px 0 3px 3px;
  letter-spacing: 2px;
  display: inline-block;
  color: #151515;
  border: 2px solid #151515;
  text-align: center;
}
.content-footer {
  border-top: 1px solid #595959;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-top: 50px;
}
.content-footer h5 {
  font-weight: 100;
  color: #595959;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}
.quote-left {
  background-color: red;
  margin-right: 200px;
  display: inline-block;
}
.wrapper {
  position:fixed;
}


/*customize disqus */

